<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fitness Logger</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <h2>Fitness Logger</h2>
        <div>
            <a href="{{ url_for('index') }}">Add New Log</a>
            <a href="{{ url_for('show_logs') }}">Previous Logs</a>
        </div>
    </nav>
    
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
