{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <h3>Log Your Day</h3>
    <form action="/log" method="POST">
        <label>Calories Consumed:</label>
        <input type="number" name="calories_consumed" required>

        <label>Calories Burned:</label>
        <input type="number" name="calories_burned" required>

        <label>How did you feel after your workout?</label>
        <textarea name="note" placeholder="Write a short note..." rows="3"></textarea>

        <button type="submit">Submit</button>
    </form>

</div>
{% endblock %}
